<div class="modal">
    <ion-header-bar>
        <h1 class="title">Share</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeCrowdsource()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doSubmit()">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input">
                <textarea placeholder="Comment"></textarea>
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Submit</button>
            </label>
        </div>
        </form>
        This is the Crowdsource Page

    </ion-content>
</div>