    <script src="js/site.js"></script>

<ion-view title="Home">
  <ion-nav-buttons side="left">
    <img class="logo" src="img/vapor.png" />
    <h1 class="logo_title">Vapr</h1>
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <!-- :::::  Slider  ::::: -->

    <ul class="bxslider">
      <li><img src="img/game_banner_1.png" /></li>
      <li><img src="img/game_banner_2.png" /></li>
    </ul>

    <div class="index_content">

      <!-- :::::  Featured Game  ::::: -->

      <div class="featured_game">
        <h1 class="title">Featured Game</h1>
        <div class="icon_wrapper">
          <img class="featured_icon" src="img/action.jpg" />
          <p class="description">
            Lorem ipsum dolor sit amet, ea utinam scripta has. Veri reprimique id usu. Nisl petentium efficiantur ex usu, ea ius suas veri voluptaria. Homero adipisci vix ad, in constituto reformidans sea, at pro dico quodsi salutatus. Primis feugiat eu has. Habemus erroribus democritum usu no. Mei ex prompta vocibus accommodare, usu ea movet eirmod. Mnesarchum accommodare te pro.
          </p>
        </div>
      </div>

      <!-- :::::  Expander Links  ::::: -->

      <ul class="additional_links">

        <!-- What We Are -->

        <li class="link_toggle">
            <span>What We Are</span>
        </li>

        <p class="link_content">
          Lorem ipsum dolor sit amet, nam porro errem at, odio dolore appetere no eos, cu cum aeterno sanctus. Utinam aliquip insolens ex mei. Ex cum vidit quidam dolores, assum ridens philosophia ad nam. At ius simul doctus, at nominavi consequat intellegat est. Vim phaedrum gubergren ut. Id tollit aperiri detracto qui, duis tibique his no. Nec debet causae cu, et debet solet duo. Cu ius deserunt disputando repudiandae, ut quis conceptam sea, ex nibh maiestatis voluptatum has. Ne vix assueverit efficiantur, erat dicta ad eos, ad nam adipisci atomorum. Ne consequat vituperatoribus pro, ei mei habeo accusamus reprehendunt, sea sensibus corrumpit voluptatibus ea.
        </p>

        <!-- How to Contribute -->

        <li class="link_toggle">
          <span>How To Contribute</span>
        </li>

        <p class="link_content">
          Lorem ipsum dolor sit amet, nam porro errem at, odio dolore appetere no eos, cu cum aeterno sanctus. Utinam aliquip insolens ex mei. Ex cum vidit quidam dolores, assum ridens philosophia ad nam. At ius simul doctus, at nominavi consequat intellegat est. Vim phaedrum gubergren ut. Id tollit aperiri detracto qui, duis tibique his no. Nec debet causae cu, et debet solet duo. Cu ius deserunt disputando repudiandae, ut quis conceptam sea, ex nibh maiestatis voluptatum has. Ne vix assueverit efficiantur, erat dicta ad eos, ad nam adipisci atomorum. Ne consequat vituperatoribus pro, ei mei habeo accusamus reprehendunt, sea sensibus corrumpit voluptatibus ea.
        </p>

        <!-- Success Stories -->

        <li class="link_toggle last_link">
          <span>Success Stories</span>
        </li>

        <p class="link_content">
          Lorem ipsum dolor sit amet, nam porro errem at, odio dolore appetere no eos, cu cum aeterno sanctus. Utinam aliquip insolens ex mei. Ex cum vidit quidam dolores, assum ridens philosophia ad nam. At ius simul doctus, at nominavi consequat intellegat est. Vim phaedrum gubergren ut. Id tollit aperiri detracto qui, duis tibique his no. Nec debet causae cu, et debet solet duo. Cu ius deserunt disputando repudiandae, ut quis conceptam sea, ex nibh maiestatis voluptatum has. Ne vix assueverit efficiantur, erat dicta ad eos, ad nam adipisci atomorum. Ne consequat vituperatoribus pro, ei mei habeo accusamus reprehendunt, sea sensibus corrumpit voluptatibus ea.
        </p>

      </ul>

    </div>

    <footer>
      <ul>
        <li><img src="img/fb_icon.png" /></li>
        <li><img src="img/twitter_icon.png" /></li>
        <li><img src="img/youtube_icon.png" /></li>
      </ul>

      <span class="created_by">2014 // Davy Jones Acorneers</span>
    </footer>

  </ion-content>
</ion-view>
