<ion-view title="Idea">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Idea</h1>
      <p class="idea_image">
        <img src="/img/placeholder.png" />
      </p>

      This is the idea page


  </ion-content>
    <div class="tabs">
        <a class="tab-item" ng-click="login()">
            Home
        </a>
        <a class="tab-item" ng-click="crowdsource()">
            Crowdsource
        </a>
        <a class="tab-item" ng-click="share()">
            Share
        </a>
    </div>
</ion-view>

